{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@true-engineering/(.*)$",
    "components$",
    "atoms$",
    "molecules$",
    "organisms$",
    "templates$",
    "pages$",
    "hooks$",
    "utils$",
    "transport$",
    "locales$",
    "helpers$",
    "store$",
    "constants$",
    "assets$",
    "types$",
    "commonStyles$",
    "styles$",
    "css$",
    "^[./]"
  ]
}
